---
type SidebarItem = {
  label: string;
  link: string;
};

type SidebarGroup = {
  label: string;
  items: SidebarItem[];
};

interface Props {
  items?: SidebarGroup[];
}

const { items = [] } = Astro.props as Props;
---

<nav aria-label="Docs sections" class="index-content-section">
  {
    items.map((group) => (
      <section class="index-content-group">
        <div class="title">{group.label}</div>
        <ul>
          {group.items.map((item) => (
            <li class="pl-[1rem]">
              <a href={item.link}>{item.label}</a>
            </li>
          ))}
        </ul>
      </section>
    ))
  }
</nav>
